@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root 
{
--text-color-second: #000000;
--color-white: rgb(220, 220, 220);
--body-color: rgb(223, 115, 0);
--first-color:  rgb(223, 0, 0);
--first-shad:  rgb(44, 43, 43);

--box-colour: #fff;
--nav-colour: #fff;
--nav-icon: #000;
--logo-color: #000;

--text-color: #000;
--icon-color:#242526;
--mode-color: #ccc;


}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    background-color: var(--body-color);
}

body.dark {
    --body-color:#000;
    --body-color:#fff;

    --nav-color: #000;
    --color-white: #fff;
    --text-color:#fff;

    --nav-icon: #fff;
    --logo-color: rgb(223, 115, 0);
    --icon-color: rgb(223, 115, 0);
    --mode-color:#fff;
    
}

----------------------------------------------------------------

.container{
    width: 100%;
    position: relative;
}

html {
    scroll-behavior:smooth;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 100px;
    background: var(--nav-color);
    padding-inline: 10wv;
    transition: 0.5s;
    z-index: 100;
}

.nav-logo {
    position: relative;
}

.nav-name {
    font-size: 30px;
    font-weight: 600;
    color: var(--logo-color);
}

.nav-menu,
.nav-menu-list {
    display: flex;
    column-gap: -30px;
}

.nav-menu .nav-list {
    list-style: none;
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    padding-inline: 15px;
    margin-inline: 20px;
}

.nav-menu-btn {
    display: none;
}

.nav-menu-btn i {
    font-size: 29px;
    cursor: pointer;
    color: var(--nav-icon);
}

.active-link {
    position: relative;
    color: var(--first-color);
    transition: 0.5s;
}

.active-link ::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 2px;
    background-color: var(--first-color);
}